/* add your css styles here! */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}



.header-flair{
	background-image: url(..images/eliecer-gallegos-s9JJIqiNwdA-unsplash.jpg);
	background-size: auto;
	color: #fff;
	height:100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.Epipelagic-Zone{
	background-color: rgb(124, 207, 233);
	height:7.85rem;
}
.Mesopelagic-Zone{
	background-color: rgb(46, 109, 168);
	height:23.8125rem;
}
.Bathypelagic-Zone{
	background-color: rgb(31, 62, 148);
	height:94.5625rem;
}
.Abyssopelagic-Zone{
	background-color: rgb(30, 42, 109);
	height:63.5rem;
}
.Hadal-Zone{
	background-color: rgb(12, 34, 66);
	height:158.75rem;
	color: #fff;
}

#epz {
	css declarations;
  }
#mpz {
	css declarations;
  }
 #bpz {
	css declarations;
  }
#apz {
	css declarations;
  }
 #hpz {
	css declarations;
  }