/* add your css styles here! */


@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}


.nav-link {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(163, 210, 224);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-epi {
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
	--nav-link-color: rgb(163, 210, 224);
    --nav-link-hover-color: rgb(124, 207, 233);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-meso {
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
	--nav-link-color: rgb(163, 210, 224);
    --nav-link-hover-color: rgb(46, 109, 168);
    text-decoration: none;
    transition: color .15s ease-in-out,--nav-link-hover-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-bath {
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
	--nav-link-color: rgb(163, 210, 224);
    --nav-link-hover-color: rgb(31, 62, 148);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-abyss {
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
	--nav-link-color: rgb(163, 210, 224);
    --nav-link-hover-color: rgb(30, 42, 109);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-hadal {
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
	--nav-link-color: rgb(163, 210, 224);
    --nav-link-hover-color: rgb(12, 34, 66);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: inline-flex;
    flex-wrap: inherit;
    align-items: center;

    
}

.header-flair{

	background-image: url(..images/eliecer-gallegos-s9JJIqiNwdA-unsplash.jpg);
	background-size: auto;
	height:100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
	text-align: center;
}
.Epipelagic-Zone{
	background-color: rgb(124, 207, 233);
	height:15.7rem;
	color: #fff;
	text-align: left;
}
.Mesopelagic-Zone{
	background-color: rgb(46, 109, 168);
	height:47.625rem;
	color: #fff;
	text-align: left;
}
.Bathypelagic-Zone{
	background-color: rgb(31, 62, 148);
	height:189.125rem;
	color: #fff;
	text-align: left;
}
.Abyssopelagic-Zone{
	background-color: rgb(30, 42, 109);
	height:127rem;
	color: #fff;
	text-align: left;
}
.Hadal-Zone{
	background-color: rgb(12, 34, 66);
	height:317.5rem;
	color: #fff;
	text-align: left;
}

#epz {
	
  }
#mpz {
	
  }
 #bpz {
	
  }
#apz {
	
  }
 #hpz {
	
  }

  .col{
	text-align: center;
	justify-content: center;
	outline: #fff;
	margin: 1rem;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}